.admin-login{
	width:200px;
	text-align: center;
	margin: auto;
}

.mynav{
	background-color: #013954;
}


.title{
	font-family: 'Patrick Hand', cursive;
}

.content{
	font-family: 'Patrick Hand', cursive;
}

.post{
	-webkit-box-shadow: 6px 8px 15px 4px rgba(230, 200, 92, 0.75);
	-moz-box-shadow:    6px 8px 15px 4px rgba(230, 200, 92, 0.75);
	box-shadow:         6px 8px 15px 4px rgba(230, 200, 92, 0.75);
	padding:10px;
}
