.footer{
	bottom: 0px;
	width: 100%;
	color: white;
	background-color: rgb(32, 35, 46);
	margin-top: 75px;
}
.footer_titles{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    top: 20px;
    font-weight: bolder;
    font-size: 20px;
}

hr.cuteline {
    height: 5px;
    border-top: 3px double white;
}

.footerinfo {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    line-height: 3;
}

.emailsfooter {
    margin-left: 150px;
    display: grid;
    margin-bottom: 47px;
}

a.peepemail {
    color: white;
}

.socialfooter {
    margin-top: 10px;
    margin-bottom: 10px;
}

.linksfoot{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

img.logo {
    width: 30px;
    height: 30px;
    margin: 5px;
}

img.logo:hover{
	background-color: #f48840;
	border-radius: 8px;
}

a.peepemail:hover{
	color:#f48840;
}
